@import "components/header";
@import "components/slider";
@import "components/_container-products";
@import "components/container-editor";
@import "components/container-testimonials";
@import "components/container-tips";
@import "components/container-footer";
@import "components/query_tablet";
@import "components/navbar";

/*
 font-family: 'Inconsolata', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

body {
    font-family: 'Inconsolata', monospace;
}