* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-header__title {
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: #454546;
    font-family: 'Poppins', sans-serif;
}


/* estilos del menu */

.main-nav {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 999999;
}

.main-header {
    padding: 0 20px;
}

.main-header__container {
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-menu {
    font-size: 1.5em;
    border: 1px solid #454546;
    /* display: block; */
    padding: 10px 15px;
    cursor: pointer;
    margin-left: auto;
}

.main-header__btn {
    display: block;
    padding: 10px 25px;
    color: #454546;
    border: 1px solid #454546;
    text-decoration: none;
}

.main-header__input {
    display: block;
    padding: 10px;
    width: 50%;
}

.main-header__link {
    color: #333;
}