.container-slider {
    position: relative;
    /*width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden; */
    margin: 50px 0;
    .slider {
        height: 300px;
        width: 400%;
        display: flex;
        .slider__section {
            width: 100%;
            /* poner relative para que el position:absolute del .slider__content
            se tome dentro del slider_section */
            position: relative;
            display: flex;
            .slider__img {
                /* display: block; */
                width: 100%;
                height: 100%;
                /* imagen no se estire y ocupe todo */
                object-fit: cover;
            }
        }
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .5);
            width: 100%;
            height: 100%;
        }
    }
    .slider__btn {
        position: absolute;
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, .7);
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        font-weight: bold;
        font-family: monospace;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            background: #fff;
        }
    }
    .slider__btn--right {
        right: 10px;
    }
    .slider__btn--left {
        left: 10px;
    }
}


/* Slider content */

.slider__content {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.slider__link {
    display: block;
    border: 1px solid #ff4e00;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    width: 150px;
    margin: 10px auto;
}

.slider__title {
    font-size: 2em;
    margin: 0;
}

.slider__txt {
    text-align: center;
    margin: 5px 0;
}